{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switter</title>
    <link rel="stylesheet" href="{% static 'main_page.css' %}">
</head>

<body>
    <div class="container">
        <aside class="sidebar left">
            <a href="{% url 'main_page' %}" class="nav-btn">Home</a>
            <a href="{% url 'profile_page' %}" class="nav-btn">Profile</a>
            <a href="" class="nav-btn">Search</a>
            <a href="{% url 'logout' %}" class="nav-btn">Logout</a>
        </aside>

        <main class="main-content">
            <h2 class="welcome-text">Welcome {{user.username}}</h2>
            <form method="post" action="{% url 'add_post' %}" class="new-post-form">
                {% csrf_token %}
                <textarea name="new-post" placeholder="What's happening?" required></textarea>
                <button type="submit" class="tweet-btn">Tweet</button>
                {% if messages %}
                {% for message in messages %}
                <div class="{{message.tags}}">{{message}}</div>
                {% endfor%}
                {% endif %}
            </form>
            {% for post in posts %}
            <div class="post">
                <h3 class="username">{{post.user}}</h3>
                <p class="date">{{post.date_time}}</p>
                <p class="post-text">{{post.post}}</p>
            </div>
            {% endfor %}
        </main>

        <aside class="sidebar right">
            {% for p in people_to_observe %}
            <div class="user-profile">
                <div class="user-data">
                    <b class="username">{{ p.username }}</b>
                    <p class="name">{{ p.first_name }} {{ p.last_name }}</p>
                </div>
                <form action="{% url 'add_observer' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{p}}" />
                    <button type="submit" class="add-observer">+</button>
                </form>

            </div>

            {% endfor%}
        </aside>
    </div>
</body>

</html>