* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #f5f8fa;
    padding: 20px;
}

.right {
    border-left: #b9bcbe 1px solid;
    width: 250px;
}

.left {
    border-right: #b9bcbe 1px solid;
    width: 200px;
}

.nav-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.new-post-form {
    margin-top: 20px;
}

.new-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.new-post-form button {
    padding: 10px 15px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.tweet-btn {
    display: inline-block;
    margin-right: 20px;
}

.new-post-form button:hover,
.nav-btn:hover,
.add-observer:hover {
    background-color: #ff5757;
}

.welcome-text {
    margin-bottom: 10px;
}

.post .username {
    display: inline;
    margin-right: 20px;
}

.date {
    display: inline;
}

.post-text {
    margin-top: 20px;
}

.success,
.error {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

.user-profile .username {
    margin-bottom: 5px;
}

.user-profile {
    margin-bottom: 20px;
    padding: 10px 15px;
    border: solid 1px #ff8585;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.add-observer {
    height: 40px;
    width: 40px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: xx-large;
}