{% if opened_sub_window %}
<div class="observers-pop-up">
    <div class="observers-pop-up-header">
        {% if opened_sub_window == 'open_observer' %}
        <h2 style="margin-bottom: 20px;">Observing:</h2>
        <a href="{%url 'close_observe' %}">x</a>
        {% elif opened_sub_window == 'open_observed_by' %}
        <h2 style="margin-bottom: 20px;">Observed_by:</h2>
        <a href="{%url 'close_observed_by' %}">x</a>
        {% endif %}
    </div>
    {% for observer in observer_or_observed_by %}
    <div class="user-profile">
        <div class="user-data">
            <a href="{% url 'profile_page' username=observer.username %}">
                <b class="username">{{observer.username }}</b>
            </a>
            <p class="name">{{ observer.first_name }} {{ observer.last_name }}</p>
        </div>
        {% if observer.username == logged_in_user.username %}
        <div></div>
        {% elif observer.is_observed_by_logged_in_user == True %}
        <form action="{% url 'delete_observer' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{observer}}" />
            <button type="submit" class="delete-observer">-</button>
        </form>
        {% elif observer.is_observed_by_logged_in_user == False %}
        <form action="{% url 'add_observer' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{observer}}" />
            <button type="submit" class="add-observer">+</button>
        </form>
        {% endif %}
    </div>
    {% endfor%}
</div>
{% endif %}