* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #f5f8fa;
    padding: 20px;
}

.right {
    border-left: #b9bcbe 1px solid;
    width: 250px;
}

.left {
    border-right: #b9bcbe 1px solid;
    width: 200px;
}

.nav-btn {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.main-content {
    flex: 5;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
}

.post .username,
.add-like .date,
.like-number {
    display: inline;
}

.post .username,
.add-like {
    margin-right: 20px;
}

.post-text {
    margin-top: 20px;
    margin-bottom: 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-button {
    padding: 5px 10px;
    background-color: #ff8585;
    color: #fff;
    border: none;
    cursor: pointer;
}

.new-post-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.new-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.new-post-form .tweet-btn {
    padding: 10px 15px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.tweet-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tweet-btn {
    display: inline-block;
    margin-right: 20px;
}

.nav-btn:hover,
.delete-observer:hover,
.delete-button:hover,
.add-observer:hover {
    background-color: #ff5757;
}

.profile-header {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.welcome-text {
    margin-bottom: 10px;
}

.observers,
.observed-by {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.observed-by p,
.observers p {
    font-size: medium;
}

.profile-data-container {
    margin-right: 50px;
}

.profile-username {
    margin-bottom: 10px;
}

.profile-name {
    margin-bottom: 30px;
}

.user-profile .username {
    margin-bottom: 5px;
}

.user-profile {
    margin-bottom: 20px;
    padding: 10px 15px;
    border: solid 1px #ff8585;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.success,
.error {
    display: inline-block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.success {
    background-color: #dff0d8;
    color: #3c763d;
}

.error {
    background-color: #f2dede;
    color: #a94442;
}

.delete-observer,
.add-observer {
    height: 40px;
    width: 40px;
    background-color: #ff8585;
    color: white;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    font-size: xx-large;
}

.heart-btn {
    border: none;
    cursor: pointer;
    font-size: large;
    text-decoration: none;
    background-color: none;
    margin-right: 10px;
    display: inline;
}

.like-number {
    display: inline;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

.hearth {
    color: #ff8585;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.sort-btn,
.search-result-selection-btn {
    display: inline;
    margin-left: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #fff;
}

.sort-btn:hover,
.search-result-selection-btn:hover {
    background-color: rgb(183, 182, 182);
}

.clicked-sort-btn,
.clicked-search-result-selection-btn {
    background-color: rgb(183, 182, 182);
}

.observers-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: black;
}

.observers-pop-up-header {
    border-bottom: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .search-results-container {
    display: flex;
    flex-direction: row;
    gap: 50%;
} */

.search-result-selection-container {
    display: flex;
    font-size: large;
    flex-direction: row;
    gap: 50%;
    height: 30px;
    border-bottom: solid 1px #ccc;
}