{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Switter</title>
    <script src="https://kit.fontawesome.com/7ec257f4c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'profile_page.css' %}">
</head>

<body>
    <div class="container">
        <aside class="sidebar left">
            <a href="{% url 'main_page' %}" class="nav-btn">Home</a>
            <a href="{% url 'profile_page' username=logged_in_user%}" class="nav-btn">Profile</a>
            <a href="" class="nav-btn">Search</a>
            <a href="{% url 'logout' %}" class="nav-btn">Logout</a>
        </aside>

        <main class="main-content">
            <div class="profile-header">
                <div class="profile-data-container">
                    <h1 class="profile-username">{{user_of_profile.username}}</h1>
                    <h2 class="profile-name">{{user_of_profile.first_name}} {{user_of_profile.last_name}}</h2>
                </div>
                <a href="{% url 'open_observe' %}" class="observers">
                    <p>Observing:</p>
                    <p>{{observer_count}}</p>
                </a>
                <a href="{% url 'open_observed_by' %}" class="observed-by">
                    <p>Observed_by:</p>
                    <p>{{observed_by_count}}</p>
                </a>
            </div>

            <div class="sort-container">
                <form action="{% url 'set_sort_method' %}" method="post">
                    {% csrf_token %}
                    {% if sort_method == "newest" %}
                    <button type="submit" class="clicked-sort-btn sort-btn">Newest</button>
                    {% else %}
                    <button type="submit" class="sort-btn">Newest</button>
                    {% endif %}
                    <input type="hidden" name="sort-method" value="newest">
                </form>
                <form action="{% url 'set_sort_method' %}" method="post">
                    {% csrf_token %}
                    {% if sort_method == "most-popular" %}
                    <button type="submit" class="clicked-sort-btn sort-btn">Most popular</button>
                    {% else %}
                    <button type="submit" class="sort-btn">Most popular</button>
                    {% endif %}
                    <input type="hidden" name="sort-method" value="most-popular">
                </form>
            </div>
            {% for post in posts %}
            <div class="post">
                <div class="post-header">
                    <div>
                        <a href="{% url 'profile_page' username=post.user%}">
                            <h3 class="username">{{post.user}}</h3>
                        </a>
                        <p class="date">{{post.date_time}}</p>
                    </div>
                    {% if logged_in_user == user_of_profile %}
                    <form action="{% url 'delete_post' %}" method="post">
                        {% csrf_token %}
                        <button class="delete-button">Delete</button>
                        <input type="hidden" name="post-id" value="{{post.post_id}}">
                    </form>
                    {% endif %}
                </div>
                <p class="post-text">{{post.text}}</p>
                {% if post.is_liked %}
                <form action="{% url 'delete_like' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="heart-btn">
                        <i class="fa fa-heart hearth"></i>
                    </button>
                    <input type="hidden" name="post-id" value="{{post.post_id}}">
                </form>
                {% else %}
                <form action="{% url 'add_like' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button class="heart-btn">
                        <i class="fa-regular fa-heart hearth"></i>
                    </button>
                    <input type="hidden" name="post-id" value="{{post.post_id}}">
                </form>
                {% endif %}
                <p class="like-number">{{post.like_number}}</p>
            </div>
            {% endfor %}
        </main>
    </div>
    {% if opened_sub_window %}
    <div class="observers-pop-up">
        <div class="observers-pop-up-header">
            {% if opened_sub_window == 'open_observer' %}
            <h2 style="margin-bottom: 20px;">Observing:</h2>
            <a href="{%url 'close_observe' %}">x</a>
            {% elif opened_sub_window == 'open_observed_by' %}
            <h2 style="margin-bottom: 20px;">Observed_by:</h2>
            <a href="{%url 'close_observed_by' %}">x</a>
            {% endif %}
        </div>
        {% for observer in observer_or_observed_by %}
        <div class="user-profile">
            <div class="user-data">
                <a href="{% url 'profile_page' username=observer.username %}">
                    <b class="username">{{observer.username }}</b>
                </a>
                <p class="name">{{ observer.first_name }} {{ observer.last_name }}</p>
            </div>
            {% if observer.username == logged_in_user.username %}
            <div></div>
            {% elif observer.is_observed_by_logged_in_user == True %}
            <form action="{% url 'delete_observer' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{observer}}" />
                <button type="submit" class="delete-observer">-</button>
            </form>
            {% elif observer.is_observed_by_logged_in_user == False %}
            <form action="{% url 'add_observer' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="username" value="{{observer}}" />
                <button type="submit" class="add-observer">+</button>
            </form>
            {% endif %}
        </div>
        {% endfor%}
    </div>
    {% endif %}
</body>

</html>